:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --main-theme-color: #FFFFFF;
  --logo-color: #000000;
  --section-color: #F5F4FA;
  --footer-bg-color: #2F303A;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --botton--bg-color: #F5F4FA;
  --project-conteiner-color: #EEEEEE;
  ---main-background-color: #E5E5E5;
  --header-bg-color: #ECECEC;
  --bottom-focuse-color: #188CE8;
  --client-link-bg-color: #AFB1B8;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --roboto-font: Roboto, sans-serif;
  --raleway-font: Raleway, sans-serif;
  --card-gap: 30px;
  --card-item: 3;
  --card-item-middle: 4;
  --card-item-long: 6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  margin: o;
  padding: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  background-color: var(----main-background-color);
  color: var(--primary-text-color);
  font-family: var(--roboto-font);
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  color: var(--title-text-color);
  font-size: 33px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    line-height: 1.17;
  }
}

.after-title {
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subtitle {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-theme-color);
  letter-spacing: 0.03em;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-item {
  flex-basis: calc((100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item));
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.primary-botton {
  cursor: pointer;
  background-color: var(--botton--bg-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  display: flex;
  height: 38px;
  letter-spacing: 0.03em;
  transition: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-botton:focus, .primary-botton:hover {
  color: var(--main-theme-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.main-button {
  cursor: pointer;
  color: var(--main-theme-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  display: flex;
  border-radius: 4px;
  padding: 10px 32px;
  width: 100%;
  max-width: 200px;
  max-height: 50px;
  margin-right: auto;
  margin-left: auto;
  border: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:focus, .main-button:hover {
  background-color: var(--bottom-focuse-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--main-theme-color);
}

.header__container {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--logo-color);
  font-family: var(--raleway-font), Montserrat, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.footer-logo__logo__part,
.logo__part {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--main-theme-color);
  font-family: var(--raleway-font), Montserrat;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.menu-open {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open__icon {
  transition: fill 250ms var(--transition-timing-function);
}

.menu-open .menu-open__icon:hover,
.menu-open .menu-open__icon:focus {
  fill: var(--accent-color);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-theme-color);
  padding-top: 48px;
  padding-bottom: 48px;
  overflow: auto;
  z-index: 10;
}
.mob-menu .mob-menu__container {
  position: relative;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.mob-menu .mob-menu__container.is-hidden {
  opacity: 0;
  pointer-events: 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .mob-menu .mob-menu__container {
    display: none;
  }
}

.menu-close {
  position: absolute;
  top: -27px;
  right: 15px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 480px) {
  .menu-close {
    right: -10px;
  }
}

.menu-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close .menu-close__icon:hover,
.menu-close .menu-close__icon:focus {
  fill: var(--accent-color);
}

.mob-nav {
  margin-bottom: 50px;
}

.mob-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-nav__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.28;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms var(--transition-timing-function);
}
.mob-nav__link:hover, .mob-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 320px) {
  .mob-nav__link:hover, .mob-nav__link:focus {
    font-size: 40px;
    line-height: 1.18;
  }
}

.mob-nav__link.current {
  color: var(--accent-color);
}

.mob-contacts {
  margin-bottom: 64px;
}

.mob-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-contacts__item:not(:last-child) .mob-contacs__link {
  font-size: 24px;
  line-height: 1.3;
}
@media screen and (min-width: 320px) {
  .mob-contacts__item:not(:last-child) .mob-contacs__link {
    font-size: 34px;
    line-height: 1.18;
  }
}

.mob-contacs__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--transition-timing-function);
}
@media screen and (min-width: 320px) {
  .mob-contacs__link {
    font-size: 24px;
    line-height: 1.17;
  }
}
.mob-contacs__link:hover, .mob-contacs__link:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
  flex-wrap: wrap;
}

.mob-soc__item:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (min-width: 320px) {
  .mob-soc__link {
    font-size: 18px;
    line-height: 1.22;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.navigation__link:hover {
  color: var(--accent-color);
}

.navigation__link.current {
  color: var(--accent-color);
}

.navigation__link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link.current:hover:after {
  transform: scaleX(1);
}

.connect-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .connect-container {
    display: block;
  }
}

.header__connect {
  display: block;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .header__connect {
    margin-left: auto;
    display: flex;
  }
}

.connect__link {
  display: block;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .connect__link {
    display: flex;
  }
}

.connect__link:hover,
.connect__link:focus {
  color: var(--accent-color);
}

.connect__link:hover .connect__icon,
.connect__link:focus .connect__icon {
  fill: currentColor;
}

.connect__icon {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect__mail {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1199px) {
  .connect__link:last-child {
    margin-left: 30px;
  }
}

.hero {
  background-color: var(--footer-bg-color);
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heromob.jpg);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heromob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herotab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herodesk.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herodesk@2x.jpg);
  }
}

.hero__title {
  color: var(--main-theme-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.features {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
}
.features__title {
  margin-bottom: 50px;
}

.special {
  background-color: var(--main-theme-color);
  display: block;
}
@media screen and (min-width: 768px) {
  .special {
    display: flex;
  }
}

.special__title {
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .special__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .special__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .special__item {
    flex-basis: calc((100% - 1 * var(--card-gap)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .special__item {
    flex-basis: calc((100% - 3 * var(--card-gap)) / 4);
  }
}

.special__info {
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.special__content {
  height: 120px;
  border-radius: 4px;
  display: flex;
  background-color: var(--botton--bg-color);
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .special__content {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .special__content {
    width: 270px;
  }
}

@media screen and (max-width: 1199px) {
  .services {
    display: none;
  }
}

.services__title {
  margin-bottom: 50px;
}

.services__picture {
  position: relative;
}

.services__info {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  justify-content: center;
  display: flex;
  position: absolute;
  top: 224px;
  left: 0;
  transform: translate();
}

.services__aftertitle {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--section-color);
}

.team__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .members {
    display: block;
  }
}

.members__content {
  background-color: var(--main-theme-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 0px 0px 4px 4px;
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .members__content:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .members__content {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .members__content {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.members__info {
  padding: 30px 10px;
  text-align: center;
  border-bottom: 1px solid var(--project-conteiner-color);
}

.members__name {
  color: var(--title-text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 10px;
}

.members__position {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 16px;
}

.soc {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.soc__item:not(:last-child) {
  margin-right: 10px;
}

.soc__link {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  fill: var(--main-theme-color);
  border-radius: 50%;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: var(--bottom-focuse-color);
}

.soc__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--client-link-bg-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc__link:hover .soc__icon,
.soc__link:focus .soc__icon {
  fill: var(--main-theme-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
  }
}

.brand__item {
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .brand__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .brand__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.brand__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  border: 1px solid var(--client-link-bg-color);
  border-radius: 4px;
  cursor: pointer;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.brand__link:hover, .brand__link:focus {
  border-color: var(--accent-color);
}
.brand__link:hover .brand-icon, .brand__link:focus .brand-icon {
  fill: var(--accent-color);
}

.brand-icon {
  fill: var(--client-link-bg-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    flex-direction: row;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    margin-right: 70px;
  }
}

.footer-tab {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer-tab {
    flex-direction: row;
    align-items: baseline;
    max-width: 603px;
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tab {
    flex-direction: row;
  }
}

address {
  font-style: normal;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  address {
    text-align: left;
  }
}

.adress__street {
  color: var(--main-theme-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 9px;
  display: block;
}

.contacts {
  display: block;
}
.contacts__data {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  display: block;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__data:focus, .contacts__data:hover {
  color: var(--accent-color);
}
.contacts__item:first-child {
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
  .footer__social {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin-right: auto;
  }
}

.footer-social__subtitle {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-social__subtitle {
    text-align: left;
  }
}

.socials {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
}
.socials__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--main-theme-color);
}

.application {
  display: flex;
  width: auto;
  max-width: 570;
}
@media screen and (min-width: 1200px) {
  .application {
    width: 570px;
    margin-left: auto;
  }
}

.application__subtitle {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .application__subtitle {
    text-align: left;
  }
}

.application__field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .application__field {
    flex-direction: column;
  }
}
@media screen and (max-width: 1199px) and (min-width: 1200px) {
  .application__field {
    align-items: baseline;
  }
}

.signup {
  width: auto;
  max-width: 450px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  background-color: var(--footer-bg-color);
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-right: auto;
  margin-left: auto;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .signup {
    margin-right: 12px;
  }
}
.signup:focus, .signup:hover {
  border-color: var(--accent-color);
}
.signup::placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .signup {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .signup {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .signup {
    width: 358px;
  }
}

.signup__button {
  cursor: pointer;
  color: var(--main-theme-color);
  background-color: var(--accent-color);
  padding: 10px 28px 10px 29px;
  font-weight: 200px;
  font-size: 16px;
  line-height: 1.9;
  width: 100%;
  max-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: transparent;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.signup__button:focus, .signup__button:hover {
  background-color: var(--bottom-focuse-color);
}
@media screen and (min-width: 1200px) {
  .signup__button {
    margin-top: 36px;
  }
}

.singup__icon {
  display: inline-block;
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.backdropis-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}
@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px;
    overflow-y: scroll;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  max-width: 450px;
  width: 100%;
  height: 609px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms var(--transition-timing-function);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 609px;
  }
}

.modal__close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  position: absolute;
  top: 8px;
  right: 8px;
  transition: box-shadow 250ms var(--transition-timing-function);
}
.modal__close-btn:focus, .modal__close-btn:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-icon {
  transition: fill 250ms var(--transition-timing-function);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.unit {
  position: relative;
}

.form__field {
  margin-bottom: 10px;
}

.form__lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  display: block;
  margin-bottom: 4px;
}

.form__check {
  margin-bottom: 30px;
  justify-content: center;
}

.form__button {
  justify-content: center;
  cursor: pointer;
  color: var(--main-theme-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  display: inline-block;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 56px;
  min-width: 200px;
  height: 50px;
  display: block;
  margin-right: auto;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border: transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button:focus, .form__button:hover {
  background-color: var(--bottom-focuse-color);
}

.input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  transition: border-color 250ms var(--transition-timing-function);
}
.input:focus, .input:hover {
  border-color: var(--accent-color);
}
.input:focus + .input__icon, .input:focus + .input__icon, .input:hover + .input__icon, .input:hover + .input__icon {
  fill: var(--accent-color);
}
.input__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms var(--transition-timing-function);
}

.comment {
  cursor: pointer;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  resize: none;
  transition: border-color 250ms var(--transition-timing-function);
}
.comment:focus, .comment:hover {
  border-color: var(--accent-color);
}
.comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  color: rgba(117, 117, 117, 0.5);
}

.data {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .data {
    font-size: 14px;
    line-height: 1.7;
  }
}

.check__view {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 250ms var(--transition-timing-function);
}

.check:checked + .check__view {
  background-color: var(--accent-color);
  border: transparent;
}

.check:hover + .check__view,
.check:focus + .check__view {
  border: 2px solid var(--accent-color);
}

.policy-link {
  border-bottom: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.filtr__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-top: 0;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filtr__list {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filtr__list {
    margin-bottom: 50px;
  }
}

.filtr__item {
  justify-content: center;
  margin-top: 0;
}

.projects__item {
  border-bottom: 1px var(--project-conteiner-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .projects__item {
    display: flex;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .projects__item {
    display: flex;
    flex-basis: calc((100% - 60px) / 3);
  }
}

.projects__link {
  display: inline-block;
  border-bottom: 1px var(--project-conteiner-color);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__link:hover, .projects__link:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}
.projects__link:hover .upper-layer {
  opacity: 1;
  transform: translateY(0);
}

.picture {
  position: relative;
  overflow: hidden;
}
.picture__tittle {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
}
.picture__info {
  padding: 20px 24px;
  border: 1px solid var(--project-conteiner-color);
  border-top: none;
}
.picture_type {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
}

.upper-layer {
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.upper-layer::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
}
.upper-layer__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--main-theme-color);
}/*# sourceMappingURL=main.css.map */