address {
    font-style: normal;
    text-align: center;

    @media screen and (min-width:1200px){
        text-align: left;
    }
}

.adress__street {
    color: var(--main-theme-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 9px;
    display: block;
}


