footer {
    background-color: var(--footer-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;

}

.footer {
    display: flex;
    align-items: baseline;
}

.footer__adress {
    margin-right: 70px;
}

address {
    font-style: normal;
}

.adress__street {
    color: var(--main-theme-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 9px;
    display: block;
}

.contacts {
    display: block;
}
.contacts__data {
    color: var(--footer-contacts-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    display: block;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:first-child {
    margin-bottom: 9px;
}

.contacts__data:focus,
.contacts__data:hover {
    color: var(--accent-color);
}