.contacts {
    display: block;


    &__data {
        color: var(--footer-contacts-color);
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        display: block;
        text-decoration: none;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover {
            color: var(--accent-color);
        }
    }

    &__item:first-child {
        margin-bottom: 9px;
    }
}