footer {
    background-color: var(--footer-bg-color);
     padding-top: 60px;
     padding-bottom: 60px;
     }

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 60px;
    @media screen and (min-width:1200px) {
            flex-direction: row;
            align-items: baseline;}}
    
.footer__adress {
    @media screen and (min-width:1200px){
                margin-right: 70px;}
            }
.footer-tab {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    @media screen and (min-width:768px) and (max-width:1199px) {
     flex-direction: row;
     align-items: baseline;
     max-width: 603px;
     width: 100%;
     justify-content: space-around;
   
    }
    @media screen and (min-width:1200px){
    flex-direction: row;
    align-items: baseline;
    }
}