.logo {
    color: var(--logo-color);
    font-family: var(--raleway-font), Montserrat, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
}

.footer-logo__logo__part,
.logo__part {
    color: var(--accent-color)
}

.footer__logo {
    color: var(--main-theme-color);
    font-family: var(--raleway-font), Montserrat;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    text-decoration: none;
     text-align: center;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    @include desktop{
        text-align: left;
    }
}