.special {
    background-color: var(--main-theme-color);
    display: block;
    @media screen and (min-width:768px) {
            display: flex;
        }
}

.special__title {
        color: var(--title-text-color);
        margin-bottom: 10px;
    @media screen and (max-width:767px){
            text-align: center;
        }
    }
.special__item{
    @media screen and (max-width: 767px){
        margin-bottom: 30px;}
    @media screen and (min-width:768px){
        flex-basis: calc((100% - ((2 - 1)* var(--card-gap)))/2);
    }
    @media screen and (min-width:1200px){
        flex-basis: calc((100% - ((4 - 1)* var(--card-gap)))/4);
    }
}

.special__info {
        color: var(--primary-text-color);
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }

.special__content {

        height: 120px;
        border-radius: 4px;
        display: flex;
        background-color: var(--botton--bg-color);
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
        @media screen and (min-width:768px){
            width: 345px;
        }
        @media screen and (min-width:1200px) {
            width:270px ;
        }
    }
