:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-theme-color: #FFFFFF;
    --logo-color: #000000;
    --section-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --footer-contacts-color: rgba(255, 255, 255, 0.6);
    --botton--bg-color: #F5F4FA;
    --project-conteiner-color: #EEEEEE;
    ---main-background-color: #E5E5E5;
    --header-bg-color: #ECECEC;
    --bottom-focuse-color: #188CE8;
    --client-link-bg-color: #AFB1B8;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --roboto-font:  Roboto, sans-serif;
    --raleway-font: Raleway, sans-serif;
    --card-gap: 30px;
    --card-item: 3;
    --card-item-middle: 4;
    --card-item-long: 6;
    }

